<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script
      src="https://unpkg.com/htmx.org@2.0.2"
      integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <!-- 検索 form -->
    <form
      id="search-form"
      hx-get="/search"
      hx-target="#sections"
      hx-swap="outerHTML"
    >
      <input type="text" name="keyword" />
      <button>Search</button>
    </form>

    <!-- upload form -->
    <form
      id="upload-form"
      hx-encoding="multipart/form-data"
      hx-post="/upload"
      hx-target="#sections"
    >
      <input type="file" name="file" />
      <button>Upload</button>
      <progress id="progress" value="0" max="100"></progress>
    </form>

    <!-- uploadしたpdfのテキストを表示するエリア -->
    <div id="sections"></div>
    <script>
      htmx.on("#upload-form", "htmx:xhr:progress", function (evt) {
        htmx
          .find("#progress")
          .setAttribute("value", (evt.detail.loaded / evt.detail.total) * 100);
      });
    </script>
  </body>
</html>
